@import '../../assets/fonts/gilroy.css';
@import '../../modules/clickable/clickable.css';

html, body, #app {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;

  font-family: 'GilroyRegular', Arial, serif;
  font-size: 16px;
}
